<header class="half" id="about">
	<div class="header-content">
		<h1 class="display-4">About the Stanford Night Market</h1>
		<hr class="golden" />
		<h1>A university-wide event for the Bay Area</h1>
	</div>
</header>
<section id="about-about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>What is a night market?</h1>
				<p><strong>Night markets</strong>, or <strong>yeshi</strong> in Mandarin Chinese, are generally open-air street markets that operate in the evening. Designed for leisurely strolling, visitors can buy delicious street food or play games in a carnival-like atmosphere. Some of the most famous snacks include oyster omelettes, stinky tofu, and chicken shawarma. Night markets often also have hawkers selling various consumer goods, including clothing, bags, and other trinkets. Well known night markets in Taiwan include the Shihlin Night Market in Taipei, Feng Chia Night Market in Taichung, and Liuhe Night Market in Kaohsiung.</p>
				<h1>About the Taiwanese Cultural Society</h1>
				<p>The Taiwanese Cultural Society at Stanford University is Stanford University's Taiwanese American students association (surprise!). We are proud of the diversity of our members: some of us were born in and grew up in Taiwan, some of us are American-born Taiwanese, some of us come from or have families that come from mainland China, and still others of us have no ethnic ties to Taiwan or China. However, we are all united by our love for and interest in Taiwan and its culture. In a world whose state can only be characterized as one of flux-political, economic, social-we seek to make ourselves and others aware of Taiwanese culture. Only by understanding it can we appreciate its history and marvel at its evolution. Though we are predominantly a cultural society, we are also interested in the numerous other unique issues that pertain to the island. We aim to parse our knowledge of our cultural identity into terms to which second-generation Taiwanese Americans (such as many of us in the organization)-and more broadly, second-generation Asian Americans-can relate.</p>
				<p>It gives us tremendous pride to be one of the most active cultural organizations on campus. Over the years, the variety of-and participation in-our events has only grown. Our events include Night Market, Taste of Taiwan, boba night, movie screenings, shaved ice night, and much more.</p>
			</div>
		</div>
	</div>
</section>