<% @title = "About Us: 2018 Stanford Night Market" %>
<header class="half" id="about">
	<div class="header-content">
		<h1 class="display-4">About the Stanford Night Market</h1>
		<hr class="golden" />
		<h1>A university-wide event for the Bay Area</h1>
	</div>
</header>
<section id="about-about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<h1>What is a night market?</h1>
				<p><strong>Night markets</strong>, or <strong>yeshi</strong> in Mandarin Chinese, are generally open-air street markets that operate in the evening. Designed for leisurely strolling, visitors can buy delicious street food or play games in a carnival-like atmosphere. Some of the most famous snacks include oyster omelettes, stinky tofu, and chicken shawarma. Night markets often also have hawkers selling various consumer goods, including clothing, bags, and other trinkets. Well known night markets in Taiwan include the Shihlin Night Market in Taipei, Feng Chia Night Market in Taichung, and Liuhe Night Market in Kaohsiung.</p>
				<h1>About the Taiwanese Cultural Society</h1>
				<p>The Taiwanese Cultural Society at Stanford University is Stanford University's Taiwanese American students association (surprise!). We are proud of the diversity of our members: some of us were born in and grew up in Taiwan, some of us are American-born Taiwanese, some of us come from or have families that come from mainland China, and still others of us have no ethnic ties to Taiwan or China. However, we are all united by our love for and interest in Taiwan and its culture. In a world whose state can only be characterized as one of flux-political, economic, social-we seek to make ourselves and others aware of Taiwanese culture. Only by understanding it can we appreciate its history and marvel at its evolution. Though we are predominantly a cultural society, we are also interested in the numerous other unique issues that pertain to the island. We aim to parse our knowledge of our cultural identity into terms to which second-generation Taiwanese Americans (such as many of us in the organization)-and more broadly, second-generation Asian Americans-can relate.</p>
				<p>It gives us tremendous pride to be one of the most active cultural organizations on campus. Over the years, the variety of-and participation in-our events has only grown. Our events include Night Market, Taste of Taiwan, boba night, movie screenings, shaved ice night, and much more.</p>
				<h2>Past officers</h2>
				<h3>2016 Night Market</h3>
				<p>Cancelled because of a conflict with the ITASA National West Coast Conference held on Stanford campus.</p>
				<h3>2015 Night Market</h3>
				<p><strong>Justin Doong</strong> c/o 2017 - Co-chair · <strong>Henry Tran</strong> c/o 2016 - Co-chair · <strong>Alex Wang</strong> c/o 2015 - Night Market Director · <strong>Timothy Wu</strong> c/o 2017 - Night Market Assistant Director · <strong>Kateline Lin</strong> c/o 2016 - Financial Officer · <strong>Victoria Wang</strong> c/o 2017 - ITASA Representative</p>
				<h3>2014 Night Market</h3>
				<p><strong>Alex Wang</strong> c/o 2015 - Co-chair · <strong>Fang-Yi Lin</strong> c/o 2015 - Co-chair · <strong>Pearle Lun</strong> c/o 2014 - Financial Officer · <strong>Christine Yeh</strong> c/o 2016 - ITASA Representative</p>
				<h3>2013 Night Market</h3>
				<p><strong>Pearle Lun</strong> c/o 2014 - Co-chair, ITASA Representative · <strong>Shannon Schweitzer</strong> c/o 2014 - Co-chair · <strong>Alex Wang</strong> c/o 2015 - Vice chair · <strong>Eric Liaw</strong> c/o 2014 - Financial officer</p>
				<h3>2012 Night Market</h3>
				<p><strong>Michael Chen</strong> c/o 2014 - Co-chair · <strong>Stephanie Doong</strong> c/o 2014 - Co-chair · <strong>Ling-Ling Zhang</strong> c/o 2014 - Financial officer
				<h3>2010 Night Market</h3>
				<p><strong>Leslie Chang</strong> c/o 2012 - Co-chair · <strong>Richard Lee</strong> c/o 2012 - Co-chair · <strong>Jono Chang</strong> c/o 2011 - Financial officer · <strong>Wesley Hong</strong> c/o 2011 - Secretary · <strong>Hillary Lin</strong> c/o 2011 - Liason
				<h3>2009 Night Market</h3>
				<p><strong>James Chen</strong> c/o 2011 - Co-chair · <strong>Wesley Hong</strong> c/o 2011 - Co-chair · <strong>Jonathan Chang</strong> c/o 2011 - Financial officer · <strong>Christopher Vicente Hsin-Hung Sandoval Chen</strong> c/o 2011 - Secretary · <strong>Hillary Lin</strong> c/o 2011 - Liason
				<h3>2008 Night Market</h3>
				<p><strong>Belinda Tzen</strong> - Co-chair · <strong>Henry Tsai</strong> - Co-chair</p>
				<h3>2007 Night Market</h3>
				<p><strong>Tracy Chou</strong> c/o 2009 - Co-chair · <strong>Eric Lin</strong> c/o 2009 - Co-chair · <strong>Amy Wang</strong> c/o 2009 - Financial officer · <strong>Eric Lai</strong> c/o 2009 - Secretary · <strong>Hendrick Lee</strong> c/o 2009 - Liason</p>
				<h3>2006 Night Market</h3>
				<p><strong>Tina Lin</strong> c/o 2007 - Co-chair · <strong>Joe Chen</strong> c/o 2008 - Co-chair · <strong>Tasha Lin</strong> c/o 2009 - Financial officer · <strong>Josh Huang</strong> c/o 2008 - Secretary · <strong>Cindy Tsai</strong> c/o 2007 - Liason</p>
				<h3>2005 Night Market</h3>
				<p><strong>Pey-Jiun Ko</strong> c/o 2006 - Co-chair · <strong>Jeffrey Cheng</strong> c/o 2006 - Co-chair · <strong>Claire Liu</strong> c/o 2007 - Financial officer · <strong>Tina Lin</strong> c/o 2007 - Secretary · <strong>Chun Kai</strong> - Liason
				<h3>2004 Night Market</h3>
				<p><strong>Vic Lin</strong> - Co-chair · <strong>Jonathan Chen</strong> - Co-chair · <strong>Pey-Jiun Ko</strong> c/o 2006 - Financial officer · <strong>Jeffrey Cheng</strong> c/o 2006 - Secretary · <strong>Andrew Hwang</strong> - Liason</p>
			</div>
		</div>
	</div>
</section>