<header class="half" id="directions">
	<div class="header-content">
		<h1 class="display-4">Planning Your Visit</h1>
		<hr class="golden" />
		<h1>Getting to the Stanford Night Market</h1>
	</div>
</header>
<section id="directions">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<h1>Planning your visit</h1>
				<h2>The Stanford Night Market is easily accessible from throughout the San Francisco Bay area, including San Francisco, Berkeley, and San Jose. Our address is 519 Lasuen Mall, Stanford, California!</h2>
				<p><iframe src="https://www.google.com/maps/d/embed?mid=17H_cDAorkDhZnkqtWxeHGozV-9s" width="100%" height="480"></iframe></p>
				<h2>By Caltrain</h2>
				<p>Disembark at Palo Alto. Take the Shopping Express line to Tressider Student Union. If you are walking, follow Palm Drive until you reach the Oval. Walk left on Serra Mall toward Hoover Tower. Turn right onto Lasuen Mall - the Main Quad should be on your right. Follow until you reach the Post Office; White Plaza is on your right.</p>
				<h2>By Car</h2>
				<h3>Via 280</h3>
				<p>Take exit 20 onto Page Mill Road toward Stanford University. For those coming from San Jose, turn right. For those coming from San Francisco, turn left. At Juniperro Serra Boulevard / Foothill Expressway, turn left. Make a sharp right onto Campus Drive Loop (East) toward White Plaza. Turn left at Mayfield Avenue. Mayfield Avenue will bend to the left. Make a right onto Lagunita Drive. The Tresidder parking lot is on your left.</p>
				<h4>Alternate Route 1</h4>
				<p>Take exit 22 onto Alpine Road. For those coming from San Jose, turn right. For those coming from San Francisco, turn left. At Juniperro Serra Boulevard, turn right. Turn left onto Campus Drive Loop (West) toward the Stanford Hospital. Turn right onto Santa Teresa Street. Turn right onto Lomita Drive, and left onto Lagunita Drive. The Tresidder parking lot is on the right.</p>
				<h4>Alternate Route 2</h4>
				<p>Take exit 24 onto Sand Hill Road. Keep right toward the Stanford Linear Accelerator Center. At Stock Farm Road, turn right, and turn right onto Campus Drive Loop. Turn left onto Santa Teresa Street. Turn right onto Lomita Drive, and left onto Lagunita Drive. The Tresidder parking lot is on the right.</p>
				<h3>Via 101</h3>
				<p>Take exit 402 toward Oregon Expressway. Oregon Expressway will become Page Mill Road. At Juniperro Serra Boulevard / Foothill Expressway, turn right. Make a sharp right onto Campus Drive Loop (East) toward White Plaza. Turn left at Mayfield Avenue. Mayfield Avenue will bend to the left. Make a right onto Lagunita Drive. The Tresidder parking lot is on your left.</p>
				<h4>Alternate Route 1</h4>
				<p>Take exit 402 toward Oregon Expressway and Embarcadero Rd. Keep left, then keep right onto Embarcadero Rd West toward Stanford University. Continue straight past El Camino Real, and keep left at the fork onto Galvez Street. Turn keft onto Campus Drive Loop. You will pass by Parking Structure 6 at Bowdoin Drive. Turn right at Mayfield Avenue. Mayfield Avenue will bend to the left. Make a right onto Lagunita Drive. The Tresidder parking lot is on the keft.</p>
				<h2>Parking</h2>
				<p>Parking is free on weekends. However, please note that only spots marked "P", "A", and "C" are available for visitors. We recommend the following parking lots:</p>
				<ul>
					<li>Tresidder Parking Lot</li>
					<li>Lot 35</li>
					<li>Lot 37</li>
					<li>Street Parking on Santa Teresa St</li>
					<li>Street Parking on Lomita Dr</li>
					<li>Lot 31</li>
					<li>Parking Structure 6 and the surrounding surface lots (L-62/63) - ~ 7 minutes walking distance. Please enter campus through Serra St.</li>
					<li>Parking Structure 2 and surface lot (L-25) - ~ 7 minutes walking distance. Please enter through Campus Drive West.</li>
					<li>Searsville Parking Lot (L-22) - ~ 10 minutes walking distance. Please enter through Campus Drive West.</li>
					<li>Parking Structure 1 - ~ 15 minutes walking distance. Please enter through Palm Drive or Quarry Rd.</li>
					<li>Parking Structure 5 and the surrounding surface lots (L-17/18) - ~ 15 minutes walking distance. Please enter through Sand Hill Rd - Stock Farm Rd.</li>
				</ul>
			</div>
		</div>
	</div>
</section>