<% @title = "2017 Stanford Night Market" %>
<header class="home">
	<div class="header-content">
		<p><%= image_tag "night_market_logo.png", alt: "Stanford Night Market Logo"%></p>
		<h1 class="display-4">2017 Stanford Night Market</h1>
		<hr class="golden" />
		<h1>Coming Spring 2017</h1>
	</div>
</header>
<section id="home-introduction">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 centered-text">
				<h1>Introducing the Stanford Night Market</h1>
				<hr class="light" />
				<p><strong>Explore. Enjoy. Indulge.</strong> With spring quickly approaching, the Taiwanese Cultural Society is excited to announce the fifteenth annual Stanford Night Market! Take a break to see performances from various student groups, try the games at each booth, and savor the food from all around Asia, from milk tea to bánh mì!</p>
			</div>
		</div>
	</div>
</section>
<section id="home-night-market-testimonial">
	<blockquote class="blockquote">
		<p class="mb-0">Night market brought the delights of delicious food and culture for everyone to enjoy.</p>
		<footer class="blockquote-footer">Charles Chen, c/o 2014</footer>
	</blockquote>
</section>
<section id="home-history">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 centered-text">
				<h1>Join us for an evening of good food and company!</h1>
				<hr class="red"/>
				<p>Every year, we aim to reach out to a larger audience, and we hit more than four thousand visitors for the first time in our 2015 Night Market. We continuously strive to improve your experience at the Stanford Night Market, and we look forward to welcoming you again this year!</p>
			</div>
		</div>
	</div>
</section>