<header class="half" id="news">
	<div class="header-content">
		<h1 class="display-4">Updates and News</h1>
		<hr class="golden" />
		<h1>What's new at the Stanford Night Market</h1>
	</div>
</header>
<section id="news-introduction">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1>News</h1>
				<p>Updates will be posted here shortly! Please look forward to them!</p>
			</div>
		</div>
	</div>
</section>