<% @title = "Tickets: 2017 Stanford Night Market" %>
<header class="half" id="tickets">
	<div class="header-content">
		<h1 class="display-4">Preordering Tickets</h1>
		<hr class="golden" />
		<h1>Early bird deals for the Stanford Night Market</h1>
	</div>
</header>
<section id="tickets-about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1>Preordering Tickets</h1>
				<p>This year, we will be selling ticket vouchers on campus and at other locations! These tickets can be used to be exchanged for food, games, and other activities at Night Market. Of course, we will still take cash at the night market itself, but preordering tickets get you extra tickets free!</p>
				<p>Please note that these vouchers are not the actual tickets that will be used at Night Market. Vouchers need to be activated on the website (to be posted) prior to the event. Tickets can be picked up at Will-Call on during Night Market. Please remember to bring your voucher! (It also helps you skip the regular line too!)</p>
				<h2>Wait, is there an admission fee for night market?</h2>
				<p>Coming to the night market is free for everyone! Tickets are only used for purchasing food and other goods as well as playing games.</p>
				<h2>Early Bird Discount</h2>
				<p>Ticket vouchers are sold in $20 bundles! This means you get $22 worth of tickets - a 10% bonus!</p>
				<h2>Ticket Presale Locations</h2>
				<p><strong>White Plaza</strong> - Dates to be announced</p>
				<p>Ticket sales can also be purchased through your neighborhood core member!</p>
				<h2>What do vouchers look like?</h2>
				<p>Vouchers are postcards (4 in x 6 in) with an image similar to our Facebook event banner on the front and numbered on the back.</p>
				<h2>Remote Sales</h2>
				<p>Due to university regulations, we can not process online payments for tickets. However, we can accept checks for ticket purchases. Please write the check for the <strong>Stanford Taiwanese Cultural Society</strong> with your <strong>name, e-mail, and phone number</strong> in the memo line or in an attached note. More details will be announced soon.</p>
			</div>
		</div>
	</div>
</section>