<hr class="full"/>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="small"><%= link_to "Stanford Night Market", controller: "visit", action: "index" %> · <%= link_to "Stanford Taiwanese Cultural Socity", "https://taiwanese.stanford.edu/"%> · <%= link_to "Facebook", "https://www.facebook.com/TaiwaneseCulturalSociety"%></p>
		</div>
	</div>
</div>