<nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #5348484d;" role="navigation">
  <%= link_to "Stanford Night Market", { controller: "visit", action: "index"}, { class: "navbar-brand" }%>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "Directions", { controller: "visit", action: "directions"}, { class: "nav-link" } %></li>
        <li class="nav-item"><%= link_to "Photos", "/photos", { class: "nav-link" } %></li>
        <li class="nav-item"><%= link_to "About", { controller: "visit", action: "about"}, { class: "nav-link" } %></li>
      </ul>
  </div>
</nav>